.registration-container {
  background-color: #f5f7f8;
  border: 1px solid #339933;
  padding: 15px;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.registration-container label {
  font-weight: normal;
}
.registration-container .table > .row {
  margin-bottom: 12px;
}
.registration-container .table > .row DIV.hor-line {
  height: 1px;
  background-color: #339933;
  margin-left: 20px;
  margin-right: 20px;
}
.registration-container .table > .row DIV.buttons {
  text-align: right;
}
.registration-container SELECT {
  max-width: 175px;
}
