<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
  </startup>
  <appSettings>
    <add key="SoccerstandMainUrl" value="http://www.soccerstand.com"/>
    <add key="SoccerstandSingleMatchUrl" value="http://www.soccerstand.com/match"/>
    <add key="SoccerstandMatchSummary" value="match-summary"/>
    <add key="SoccerstandMatchStatistics" value="match-statistics"/>
    <add key="SoccerstandMatchLineups" value="lineups"/>
    <add key="SoccerstandMatchPlayerStatistics" value="player-statistics"/>
    <add key="SoccerstandMatchLiveCommentary" value="live-commentary"/>
    <add key="SoccerstandMatchOddComparison1X2OddsFullTime" value="odds-comparison;1x2-odds;full-time"/>
    <add key="SoccerstandMatchOddComparison1X2OddsFirstHalf" value="odds-comparison;1x2-odds;1st-half"/>
    <add key="SoccerstandMatchOddComparison1X2OddsSecondHalf" value="odds-comparison;1x2-odds;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonHomeAwayFullTime" value="odds-comparison;home-away;full-time"/>
    <add key="SoccerstandMatchOddComparisonHomeAwayFirstHalf" value="odds-comparison;home-away;1st-half"/>
    <add key="SoccerstandMatchOddComparisonOverUnderFullTime" value="odds-comparison;over-under;full-time"/>
    <add key="SoccerstandMatchOddComparisonOverUnderFirstHalf" value="odds-comparison;over-under;1st-half"/>
    <add key="SoccerstandMatchOddComparisonOverUnderSecondHalf" value="odds-comparison;over-under;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonAHFullTime" value="odds-comparison;asian-handicap;full-time"/>
    <add key="SoccerstandMatchOddComparisonAHFirstHalf" value="odds-comparison;asian-handicap;1st-half"/>
    <add key="SoccerstandMatchOddComparisonAHSecondHalf" value="odds-comparison;asian-handicap;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonEHFullTime" value="odds-comparison;european-handicap;full-time"/>
    <add key="SoccerstandMatchOddComparisonEHFirstHalf" value="odds-comparison;european-handicap;1st-half"/>
    <add key="SoccerstandMatchOddComparisonEHSecondHalf" value="odds-comparison;european-handicap;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonDCFullTime" value="odds-comparison;double-chance;full-time"/>
    <add key="SoccerstandMatchOddComparisonDCFirstHalf" value="odds-comparison;double-chance;1st-half"/>
    <add key="SoccerstandMatchOddComparisonHTFT" value="odds-comparison;ht-ft;full-time"/>
    <add key="SoccerstandMatchOddComparisonCSFullTime" value="odds-comparison;correct-score;full-time"/>
    <add key="SoccerstandMatchOddComparisonCSFirstHalf" value="odds-comparison;correct-score;1st-half"/>
    <add key="SoccerstandMatchOddComparisonCSSecondtHalf" value="odds-comparison;correct-score;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonOEFullTime" value="odds-comparison;odd-even;full-time"/>
    <add key="SoccerstandMatchOddComparisonOEFirstHalf" value="odds-comparison;odd-even;1st-half"/>
    <add key="SoccerstandMatchOddComparisonOESecondtHalf" value="odds-comparison;odd-even;2nd-half"/>
    <add key="SoccerstandMatchOddComparisonBTSFullTime" value="odds-comparison;both-teams-to-score;full-time"/>
    <add key="SoccerstandMatchOddComparisonBTSFirstHalf" value="odds-comparison;both-teams-to-score;1st-half"/>
    <add key="SoccerstandMatchOddComparisonBTSecondtHalf" value="odds-comparison;both-teams-to-score;2nd-half"/>
    <add key="SoccerstandMatchVideo" value="video"/>
    <add key="SoccerstandNoResponseTimeout" value="5"/>
  </appSettings>
  <connectionStrings>
    <add name="SoccerstandDBEntities" connectionString="metadata=res://*/Edmx.SoccerstandDB.csdl|res://*/Edmx.SoccerstandDB.ssdl|res://*/Edmx.SoccerstandDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=SoccerstandDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="LoggerDBEntities" connectionString="metadata=res://*/Edmx.LogDB.csdl|res://*/Edmx.LogDB.ssdl|res://*/Edmx.LogDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local);initial catalog=LoggerDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
</configuration>
